<style>
.left {
 text-align: left
}
</style>
<footer class="footer">
    <div>
    {% if meta.email %}
        <p><a href="mailto:{{ meta.email }}">{{ meta.email }}</a></p>
    {% endif %}
    {% if meta.telephone %}
        <p><a href="tel:{{ meta.telephone }}">{{ meta.telephone }}</a></p>
    {% endif %}
    </div>
    <div>
<p class="left">     <a href="/about">About</a>
      <a href="/blog">Changelog</a> 
      </p>
      </div>
    <div>
        <p>Last Update: {{ build.timestamp | dateToFormat("dd LLLL yyyy, t") }}</p>
    </div>
</footer>