<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
        
        {%- set css -%}{% include "inline-css.njk" %}{%- endset -%}
        <style>{{ css | cssmin | safe }}</style>

        {% include "meta.njk" %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    
    <!-- 
         This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
     -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <!-- RSS Feeds -->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    
<script type="module">
  import {onCLS, onFID, onLCP} from 'https://unpkg.com/web-vitals/dist/web-vitals.attribution.js?module';
  onCLS(console.log);
  onFID(console.log);
  onLCP(console.log);
</script>

    </head>
    <body class="site">
        {% include "notification.njk" %}

        {% include "header.njk" %}
        <main class="main">{{ content | safe }}</main>
        {% include "footer.njk" %}

        {% if build.env === 'production' %}
        <script src="{{ '/static/scripts/offline.js' | url }}" async defer></script>
        {% endif %}
    </body>
</html>
